
.nav {
    list-style: none outside none;
    margin-bottom: 0;
    padding-left: 9px;
}

.nav > li {
	float: left;
    display: block;
    position: relative;
    font-size: 13px;

    text-align: left;
    margin-left: 10px;
}


.nav:before, .nav:after {
    content: " ";
    display: table;
}

.nav > li > a {
    display: block;
    
    position: relative;
    
}

.nav:after {
    clear: both;
}